.custom-bg {
  background-image: url('/public/images/bg-header-desktop.svg');
  background-size: cover;
  background-position: center;
  /* Additional background properties can be added here */
}

.bg-hsl {
  background-color: hsl(180, 29%, 50%);
  /* background-color: black; */
}
/* .card {
  background-color: hsl(180, 52%, 96%);
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


